anyio
certifi
charset-normalizer
click
fastapi
h11
httptools
idna
joblib
numpy
pydantic
python-dotenv
PyYAML
requests
scikit-learn
scipy
sniffio
starlette
threadpoolctl
typing_extensions
urllib3
uvicorn
uvloop
watchfiles
websockets
